PORT=5080
HOSTNAME=localhost
MONGODB_URL=mongodb+srv://username:password@cluster0.fhhnn3b.mongodb.net/Chatapp

EXPIRES_TOKEN_DATE=23d
SECTERT_TOKEN=ghkfghpoiuh,mnbbbcddfxdfsxvbcv

FRONTEND_URL=*
CLOUDINARY_CLOUD_NAME=clodinaryname
CLOUDINARY_API_KEY=cloudinary api key
CLOUDINARY_API_SECRET=secretkey



